<div class="content">
  <div class="about">
    <h2>About</h2>
    <p>
      I'm a web developer in course. I'm searching for a workplace where I can
      prove all the things I've been learning this year. I'm a Post-Rock and
      Lomo Saltado lover.
    </p>
  </div>
  <div class="skills">
    <h2>Skills</h2>
    <p>
      Technical: JavaScript, ReactJS, Node JS, CSS, HTML5, Git-GitHub, Figma,
      Tailwind, Vite, Angular Soft-skills: Resilience, Empathy, Teamwork
    </p>
  </div>
  <div class="languages">
    <h2>Languages</h2>
    <p>English - advanced B2</p>
    <p>Italian - basic level</p>
    <p>French - basic level</p>
  </div>
</div>
